ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

header {
    .username {
        border: thick;
        color: white;
        margin-right: 10px;
    }
}

.admin {
    padding: 20px;
    .container {
        .topBar {
            display: flex;
            .filter {
                padding: 10px;
                justify-content: center;
            }
        }
        .cards {
            display: flex;
            flex-wrap: wrap;
            .info {
                position: relative;
                width: 100%;
                margin-top: 10px;
                margin: 10px 4px;
                border: 1px solid rgba(0, 0, 0, 0.125);
                border-radius: 0.25rem;
                img {
                    width: 300px;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
                .detail {
                    margin-top: 10px;
                    margin-left: 10px;
                    margin-bottom: 10px;
                }
                .bottom {
                    float: right;
                    .btn {
                        width: 80px;
                        margin-right: 10px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }
                .commentDeleteBtn {
                    float: right;
                    margin-right: 10px;
                }
                .imageContainer {
                    margin-left: 15px;
                }
                .categoryContainer {
                    margin-left: 15px;
                }
                .commentContainer {
                    margin-left: 15px;
                }
            }
        }
        .float-button {
            position: fixed;
            height: 50px;
            width: 50px;
            bottom: 90px;
            right: 50px;
            background: #b4d145;
        }
    }
}

.modal {
    .placeDetail {
        img {
            width: 100%;
            height: 200px;
        }
        .attribute {
            font-weight: bold;
        }
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

#editUserDetailModal,
#editDetailModal {
    form {
        .aside {
            font-weight: 600;
            display: flex;
            flex-direction: column;
            justify-content: center;
            float: right;
            label {
                text-align: right;
                margin-bottom: 0;
            }
        }
    }
}

main {
    min-height: 100vh;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    .content {
        color: #ccc;
        p {
            padding: 5px 0;
            margin: 0;
        }
    }
}
