html {
    height: 100%;
    body {
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #f5f5f5;
        .form-signup {
            width: 100%;
            height: 100vh;
            max-width: 330px;
            padding: 15px;
            margin: auto;
            display: none;
            flex-direction: column;
            justify-content: center;
            .formatRules {
                height: auto;
                color: red;
                padding: 0px !important;
                text-align: left;
                font-size: 12px;
                font-weight: normal;
            }
            .hidden {
                display: none;
            }
            .form-control {
                height: auto;
                padding: 10px;
                font-size: 16px;
            }
            input {
                margin-bottom: 10px;
            }
        }
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            height: 100vh;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .wrapper {
                .form-control {
                    height: auto;
                    padding: 10px;
                    font-size: 16px;
                }
                input {
                    margin-bottom: 10px;
                }
            }
            .btn {
                color: rgb(255, 255, 255);
                background-color: rgb(0, 114, 238);
            }
            #signupAnchor {
                color: rgb(0, 108, 226);
                background-color: rgb(245, 245, 245);
            }
            .copyright {
                color: rgb(104, 114, 122);
                background-color: rgb(245, 245, 245);
            }
        }
    }
}
