html {
  height: 100%; }
  html body {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #f5f5f5; }
    html body .form-signup {
      width: 100%;
      height: 100vh;
      max-width: 330px;
      padding: 15px;
      margin: auto;
      display: none;
      flex-direction: column;
      justify-content: center; }
      html body .form-signup .formatRules {
        height: auto;
        color: red;
        padding: 0px !important;
        text-align: left;
        font-size: 12px;
        font-weight: normal; }
      html body .form-signup .hidden {
        display: none; }
      html body .form-signup .form-control {
        height: auto;
        padding: 10px;
        font-size: 16px; }
      html body .form-signup input {
        margin-bottom: 10px; }
      html body .form-signup .btn {
        color: white;
        background-color: #0072ee; }
      html body .form-signup #signinAnchor {
        color: #006ce2;
        background-color: whitesmoke; }
    html body .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      height: 100vh;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      html body .form-signin .wrapper .form-control {
        height: auto;
        padding: 10px;
        font-size: 16px; }
      html body .form-signin .wrapper input {
        margin-bottom: 10px; }
      html body .form-signin .btn {
        color: white;
        background-color: #0072ee; }
      html body .form-signin #signupAnchor {
        color: #006ce2;
        background-color: whitesmoke; }
      html body .form-signin .copyright {
        color: #68727a;
        background-color: whitesmoke; }
