ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

header {
    .username {
        border: thick;
        color: white;
        margin-right: 10px;
    }
    .top-btn {
        color: rgb(157, 163, 168);
        background-color: rgb(52, 58, 64);
    }
}

.tickets {
    padding: 20px;
    .container {
        .topBar {
            display: flex;
            .filter {
                padding: 10px;
                justify-content: center;
            }
            .search {
                color: rgb(0, 138, 0);
                background-color: rgb(255, 255, 255);
            }
        }
        .cards {
            display: flex;
            flex-wrap: wrap;
            .card {
                width: 30%;
                margin: 10px 4px;
                cursor: pointer;
                img {
                    height: 200px;
                }
                .card-bottom {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 20px;
                    .card-info {
                        color: #6c757d;
                        .category {
                            button {
                                margin-right: 4px;
                                margin-top: 4px;
                                margin-bottom: 10px;
                            }
                            .category-color {
                                color: rgb(255, 255, 255);
                                background-color: rgb(0, 130, 149);
                            }
                        }
                    }
                }
            }
        }
    }
}

#buyTicketModal {
    .friendBtn {
        border: 1px solid #6c757d;
        border-radius: 3px;
        margin-right: 4px;
        margin-top: 4px;
        color: #6c757d;
        cursor: pointer;
        padding: 0.2rem 0.75rem;
        user-select: none;
    }
    .friendBtn.active {
        color: white;
        background-color: #6c757d;
    }
    h2 {
        padding-top: 10px;
    }
    .myFriends {
        .friendsContainer {
            display: flex;
            flex-wrap: wrap;
        }
    }
    .btn-primary {
        color: rgb(255, 255, 255);
        background-color: rgb(0, 114, 238);
    }
}

#detailModal {
    .placeDetail {
        img {
            // width: 100%;
            height: 300px;
        }
        .attribute {
            font-weight: bold;
        }
    }

    .wrapper {
        .comment {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            .commentContainer {
                h2 {
                    border-bottom: 1px solid #ccc;
                    margin-bottom: 0;
                    padding-bottom: 10px;
                }
                ul {
                    max-height: 400px;
                    overflow: scroll;
                    li {
                        border-bottom: 1px solid #ccc;
                        padding: 8px 0;
                        .username {
                            font-weight: bold;
                        }
                    }
                }
            }
            .inputContainer {
                margin-top: 20px;
                display: flex;
                align-items: center;
                button {
                    margin-left: 4px;
                    color: rgb(0, 114, 238);
                    background-color: rgb(255, 255, 255);
                }
                input {
                    width: 100%;
                    box-shadow: none !important;
                }
            }
        }
    }
    .btn-primary {
        color: rgb(255, 255, 255);
        background-color: rgb(0, 114, 238);
    }
}

main {
    min-height: 100vh;
}

.swal2-icon-content {
    color: rgb(207, 132, 0);
    background-color: rgb(255, 255, 255);
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    .content {
        color: #ccc;
        p {
            padding: 5px 0;
            margin: 0;
        }
    }
}
