ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0; }

header .username {
  border: thick;
  color: white;
  margin-right: 10px; }

.tickets {
  padding: 20px; }
  .tickets .container .topBar {
    display: flex; }
    .tickets .container .topBar .filter {
      padding: 10px;
      justify-content: center; }
  .tickets .container .cards {
    display: flex;
    flex-wrap: wrap; }
    .tickets .container .cards .card {
      width: 30%;
      margin: 10px 4px;
      cursor: pointer; }
      .tickets .container .cards .card img {
        height: 200px; }
      .tickets .container .cards .card .card-bottom {
        display: flex;
        justify-content: space-between;
        padding: 0 20px; }
        .tickets .container .cards .card .card-bottom .card-info {
          color: #6c757d; }
          .tickets .container .cards .card .card-bottom .card-info .category button {
            margin-right: 4px;
            margin-top: 4px;
            margin-bottom: 10px; }

#buyTicketModal .friendBtn {
  border: 1px solid #6c757d;
  border-radius: 3px;
  margin-right: 4px;
  margin-top: 4px;
  color: #6c757d;
  cursor: pointer;
  padding: 0.2rem 0.75rem;
  user-select: none; }

#buyTicketModal .friendBtn.active {
  color: white;
  background-color: #6c757d; }

#buyTicketModal h5 {
  padding-top: 10px; }

#buyTicketModal .myFriends .friendsContainer {
  display: flex;
  flex-wrap: wrap; }

#detailModal .placeDetail img {
  width: 100%;
  height: 200px; }

#detailModal .placeDetail .attribute {
  font-weight: bold; }

#detailModal .wrapper .comment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; }
  #detailModal .wrapper .comment .commentContainer h5 {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    padding-bottom: 10px; }
  #detailModal .wrapper .comment .commentContainer ul {
    max-height: 300px;
    overflow: scroll; }
    #detailModal .wrapper .comment .commentContainer ul li {
      border-bottom: 1px solid #ccc;
      padding: 8px 0; }
      #detailModal .wrapper .comment .commentContainer ul li .username {
        font-weight: bold; }
  #detailModal .wrapper .comment .inputContainer {
    margin-top: 20px;
    display: flex;
    align-items: center; }
    #detailModal .wrapper .comment .inputContainer button {
      margin-left: 4px; }
    #detailModal .wrapper .comment .inputContainer input {
      width: 100%;
      box-shadow: none !important; }

main {
  min-height: 100vh; }

footer {
  display: flex;
  justify-content: center;
  padding: 10px; }
  footer .content {
    color: #ccc; }
    footer .content p {
      padding: 5px 0;
      margin: 0; }
