.hidden {
    display: none;
}

header {
    .username {
        border: thick;
        color: white;
        margin-right: 10px;
    }
    .top-btn {
        color: rgb(157, 163, 168);
        background-color: rgb(52, 58, 64);
    }
}

body {
    font-size: 14px;
}

div {
    // border: 1px solid !important;
    // border-color: red !important;
    .row{
        margin:0px;
    }
    .cardInfo{
        margin:10px;
    }
    .followBtn {
        border: none;
        background-color: #e3f2fd;
        color: black;
        font-family: Comic Sans MS;
    }
    .container-xl {
        max-width: 1280px;
    }
    .userNavBar {
        height: 55px;
        width: 100%;
        .navbar {
            background-color: #e3f2fd;
            border-radius: 10px;
            li {
                color: grey;
                font-family: Comic Sans MS;
                margin-top: 8px;
                margin-bottom: 8px;
                margin-left: 10px;
                margin-right: 110px;
            }
            .focus {
                color: black;
                font-weight: bold;
            }
        }
    }
    .userContainer {
        min-height: 600px;
        width: 100%;
        .title{
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            text-align: right;
            font-size: 24px;
        }
        .text{
            font-family: Arial, Helvetica, sans-serif;
            text-align: left;
            font-size: 24px;
            padding-left: 0px;
        }
    }
    .userCard {
        text-align: center;
    }
}

img {
    .avatar {
        width: 260;
        height: 260;
    }
}

main {
    min-height: 100vh;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    .content {
        color: #ccc;
        p {
            padding: 5px 0;
            margin: 0;
        }
    }
}
