html {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    ul,
    ol {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    input,
    textarea {
        box-shadow: none !important;
    }
}

body {
    background-color: #fafafa;
}

header {
    .username {
        border: thick;
        color: white;
        margin-right: 10px;
    }
    .top-btn {
        color: rgb(157, 163, 168);
        background-color: rgb(52, 58, 64);
    }
}

#newFriendModal {
    .row {
        margin-bottom: 10px;
        input {
            width: 90%;
        }
        .aside {
            font-weight: 600;
            display: flex;
            flex-direction: column;
            justify-content: center;
            label {
                text-align: right;
            }
        }
    }
    .btn-primary {
        color: rgb(255, 255, 255);
        background-color: rgb(0, 114, 238);
    }
}

main {
    min-height: 100vh;
    border: 1px solid #ccc;
    display: flex;
    margin: 30px 250px;
    background-color: #fff;
    .navbar {
        border-right: 1px solid #ccc;
        width: 300px;
        padding: 0;
        display: flex;
        flex-direction: column;
        ul {
            width: 100%;
            font-size: 16px;
            li {
                padding: 15px 30px;
                cursor: pointer;
                &:hover {
                    background-color: #eee;
                }
            }
            li.active {
                font-weight: 600;
                border-left: 2px solid black;
            }
        }
    }
    .container {
        .aside {
            font-weight: 600;
            display: flex;
            flex-direction: column;
            justify-content: center;
            label {
                text-align: right;
                margin-bottom: 0;
            }
        }
        #tickets {
            display: none;
            max-height: 80vh;
            overflow: scroll;
            .ticket {
                border: 1px solid #ccc;
                padding: 8px 16px;
                margin: 8px;
                display: flex;
                .imgContainer {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-right: 40px;
                    img {
                        width: 200px;
                        height: 150px;
                    }
                }
                .ticketInfo {
                    p,
                    h4 {
                        padding: 0;
                        margin: 0;
                    }
                    button {
                        margin-right: 4px;
                        color: rgb(0, 130, 149);
                        background-color: rgb(255, 255, 255);
                    }
                }
            }
        }
        #password {
            display: none;
            .btn-primary {
                color: rgb(255, 255, 255);
                background-color: rgb(0, 126, 178);
            }
        }
        #infopage {
            .formatRules {
                height: auto;
                color: rgb(238, 0, 0);
                background-color: rgb(255, 255, 255);
                padding: 0px !important;
                text-align: left;
                font-size: 14px;
                font-weight: normal;
            }
            .hidden {
                display: none;
            }
            .btn-primary {
                color: rgb(255, 255, 255);
                background-color: rgb(0, 114, 238);
            }
        }
        #payment {
            display: none;
            .error-message {
                color: rgb(238, 0, 0);
                background-color: rgb(255, 255, 255);
            }
            .btn-primary {
                color: rgb(255, 255, 255);
                background-color: rgb(0, 114, 238);
            }
        }
        #friends {
            display: none;
            #friendsList {
                display: flex;
                flex-wrap: wrap;
                .friendBtn {
                    border: 1px solid #6c757d;
                    border-radius: 3px;
                    margin-right: 4px;
                    margin-top: 4px;
                    color: #6c757d;
                    cursor: pointer;
                    padding: 0.2rem 0.75rem;
                    user-select: none;
                }
                .friendBtn.active {
                    color: white;
                    background-color: #6c757d;
                }
                .addFriendIcon {
                    margin-top: 4px;
                    cursor: pointer;
                    &:hover {
                        filter: invert(1);
                    }
                }
            }
            .btn-primary {
                color: rgb(255, 255, 255);
                background-color: rgb(0, 114, 238);
            }
        }
    }
}

#rescheduleModal {
    .btn-primary {
        color: rgb(255, 255, 255);
        background-color: rgb(0, 114, 238);
    }
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    .content {
        color: #ccc;
        p {
            padding: 5px 0;
            margin: 0;
        }
    }
}
