.hidden {
  display: none;
}

header .username {
  border: thick;
  color: white;
  margin-right: 10px;
}

header .top-btn {
  color: #9da3a8;
  background-color: #343a40;
}

body {
  font-size: 14px;
}

div {
  border: 1px solid;
  border-color: red;
}

div .followBtn {
  border: none;
  background-color: #e3f2fd;
  color: grey;
  font-family: Comic Sans MS;
}

div .container-xl {
  max-width: 1280px;
}

div .userNavBar {
  height: 55px;
}

div .userNavBar .navbar {
  background-color: #e3f2fd;
}

div .userNavBar .navbar li {
  color: grey;
  font-family: Comic Sans MS;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 10px;
  margin-right: 10px;
}

div .userNavBar .navbar .focus {
  color: black;
  font-weight: bold;
}

div .userContainer {
  min-height: 600px;
}

div .userCard {
  text-align: center;
}

img .avatar {
  width: 260;
  height: 260;
}

main {
  min-height: 100vh;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

footer .content {
  color: #ccc;
}

footer .content p {
  padding: 5px 0;
  margin: 0;
}
