html {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box; }
  html ul,
  html ol {
    list-style: none;
    padding: 0;
    margin: 0; }
  html input,
  html textarea {
    box-shadow: none !important; }

body {
  background-color: #fafafa; }

header .username {
  border: thick;
  color: white;
  margin-right: 10px; }

#newFriendModal .row {
  margin-bottom: 10px; }
  #newFriendModal .row input {
    width: 90%; }
  #newFriendModal .row .aside {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #newFriendModal .row .aside h5 {
      text-align: right; }

main {
  min-height: 100vh;
  border: 1px solid #ccc;
  display: flex;
  margin: 30px 250px;
  background-color: #fff; }
  main .navbar {
    border-right: 1px solid #ccc;
    width: 300px;
    padding: 0;
    display: flex;
    flex-direction: column; }
    main .navbar ul {
      width: 100%;
      font-size: 16px; }
      main .navbar ul li {
        padding: 15px 30px;
        cursor: pointer; }
        main .navbar ul li:hover {
          background-color: #eee; }
      main .navbar ul li.active {
        font-weight: 600;
        border-left: 2px solid black; }
  main .container .aside {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    main .container .aside div {
      text-align: right; }
  main .container #tickets {
    display: none;
    max-height: 80vh;
    overflow: scroll; }
    main .container #tickets .ticket {
      border: 1px solid #ccc;
      padding: 8px 16px;
      margin: 8px;
      display: flex; }
      main .container #tickets .ticket .imgContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 40px; }
        main .container #tickets .ticket .imgContainer img {
          width: 160px;
          height: 120px; }
      main .container #tickets .ticket .ticketInfo p,
      main .container #tickets .ticket .ticketInfo h4 {
        padding: 0;
        margin: 0; }
      main .container #tickets .ticket .ticketInfo button {
        margin-right: 4px; }
  main .container #password {
    display: none; }
  main .container #infopage .formatRules {
    height: auto;
    color: red;
    padding: 0px !important;
    text-align: left;
    font-size: 14px;
    font-weight: normal; }
  main .container #infopage .hidden {
    display: none; }
  main .container #payment {
    display: none; }
    main .container #payment .error-message {
      color: red; }
  main .container #friends {
    display: none; }
    main .container #friends #friendsList {
      display: flex;
      flex-wrap: wrap; }
      main .container #friends #friendsList .friendBtn {
        border: 1px solid #6c757d;
        border-radius: 3px;
        margin-right: 4px;
        margin-top: 4px;
        color: #6c757d;
        cursor: pointer;
        padding: 0.2rem 0.75rem;
        user-select: none; }
      main .container #friends #friendsList .friendBtn.active {
        color: white;
        background-color: #6c757d; }
      main .container #friends #friendsList .addFriendIcon {
        margin-top: 4px;
        cursor: pointer; }
        main .container #friends #friendsList .addFriendIcon:hover {
          filter: invert(1); }

footer {
  display: flex;
  justify-content: center;
  padding: 10px; }
  footer .content {
    color: #ccc; }
    footer .content p {
      padding: 5px 0;
      margin: 0; }
