<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/main.css" />
</head>


<body>
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <span class="navbar-brand">Ticket</span>
                <div>
                    <span class="username" id="username">Htkz</span>
                    <a href="user" class="btn-sm btn-outline-secondary" role="button">User Info</a>
                    <a href="#" id="logoutBtn" class="btn-sm btn-outline-secondary" role="button">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
            <!-- to be rendered with data -->
        </div>
        <div class="modal fade" tabindex="-1" id="buyTicketModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ticket</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="reserveDate">
                            <h5>Available Time</h5>
                            <input type="date" name="dateInput" id="dateInput" min="${place.displayTime}">
                        </div>
                        <div class="yourself">
                            <h5>Yourself</h5>
                            <div class="btn-group-toggle" data-toggle="buttons">
                                <span class="friendBtn active" id="yourselfBtn" data-id="yourself">
                                    Yourself
                                </span>
                            </div>
                        </div>
                        <div class="myFriends">
                            <h5>Friends</h5>
                            <div class="btn-group-toggle friendsContainer" data-toggle="buttons">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="finalConfirmBuyButton">Buy</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>  
        </div>
        <div class="tickets">
            <div class="container">
                <div class="topBar">
                    <div class="filter">
                        <span class="info">Filter by:</span>
                        <button class="btn btn-sm btn-outline-secondary" id="latestBtn">
                            Latest
                        </button>
                        <button class="btn btn-sm btn-outline-secondary" id="hottestBtn">
                            Hottest
                        </button>
                        <button class="btn btn-sm btn-outline-secondary" id="resetBtn">
                            Reset
                        </button>
                    </div>
                    <form class="form-inline" id="search">
                        <input
                            class="form-control form-control-sm mr-sm-2"
                            id="searchInput"
                            type="text"
                            placeholder="Search"
                            aria-label="Search" />
                        <button
                            class="btn btn-sm btn-outline-success my-2 my-sm-0"
                            type="submit">
                            Search
                        </button>
                    </form>
                </div>

                <div class="cards" id="cards">
                    <!-- Will be rendered with data from database -->
                </div>
            </div>
        </div>
    </main>
    <footer class="blog-footer bg-dark shadow-sm">
        <div class="content">
            <p>For Final Project of CS 546</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="./js/main.js"></script>
</body>

</html>