<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/user.css">
</head>

<body>
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <span class="navbar-brand">Ticket</span>
                <div>
                    <span class="username" id="username">Htkz</span>
                    <a href="main" class="btn-sm btn-outline-secondary" role="button">Main</a>
                    <a href="#" id="logoutBtn" class="btn-sm btn-outline-secondary" role="button">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="navbar">
            <ul>
                <li id="personalInfoBtn" data-id="#personalInfo" class="active">Personal Information</li>
                <li id="passwordBtn" data-id="#password">Change Password</li>
                <li id="ticketInfoBtn" data-id="#tickets">Ticket Information</li>
                {{!-- <li id="paymentInfoBtn">Payment Information</li>
                <li id="friendsInfoBtn">Friends Information</li> --}}
            </ul>
        </div>
        <div class="container">
            <div id="tickets">
                {{!-- render by js --}}
            </div>
            <div id="password">
                <form class="passwordChangePage" id="passwordChange">
                    <div class="row mt-5">
                        <div class="col-3 ml-3 aside">
                            <div>
                                Old Password
                            </div>
                        </div>
                        <div class="input-group col-7">
                            <input type="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="old-password" value="">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-3 ml-3 aside">
                            <div>
                                New Password
                            </div>
                        </div>
                        <div class="input-group col-7">
                            <input type="password" class="form-control" aria-label="Default"
                                aria-describedby="inputGroup-sizing-default" id="new-password" value="">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-3 ml-3 aside">
                            <div>
                                Confirm Password
                            </div>
                        </div>
                        <div class="col-7">
                            <input type="password" class="form-control" aria-label="Default"
                                aria-describedby="inputGroup-sizing-default" id="re-enter-password" value="">
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-3 ml-3"></div>
                        <div class="col-7">
                            <button class="btn btn-primary" id="changePasswordBtn" disabled type="submit">
                                Change Password
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="infoPage">
                <form class="personalinfoPage" id="personalInfo">
                    <div class="row mt-5">
                        <div class="col-3 ml-3">
                            <div class="float-right font-weight-bold">
                                Username
                            </div>
                        </div>
                        <div class="input-group col-7">
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="form-username" value="">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-3 ml-3">
                            <div class="float-right font-weight-bold">
                                Phone Number
                            </div>
                        </div>
                        <div class="input-group col-7">
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="form-phonenumber" value="">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-3 ml-3">
                            <div class="float-right font-weight-bold">
                                Zipcode
                            </div>
                        </div>
                        <div class="input-group col-7">
                            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="form-zipcode" value="">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-3 ml-3">
                            <div class="float-right font-weight-bold">
                                Address
                            </div>
                        </div>
                        <div class="input-group col-7">
                            <textarea type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="form-address"></textarea>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col"></div>
                        <div class="col">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">
                                Update Now!
                            </button>
                        </div>
                        <div class="col"></div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer class="blog-footer bg-dark shadow-sm">
        <div class="content">
            <p>For Final Project of CS 546</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="../../utility/checkInput.js"></script>
    <script src="../../utility/checkTwoPassword.js"></script>
    <script src="./js/user.js"></script>
    <script src="./js/personalinfo.js"></script>
</body>

</html>