<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicketHub</title>
    <link rel="icon" href="/pic/ticket.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/user.css">
</head>

<body>
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a class="navbar-brand" href="/main">Ticket</a>
                <div>
                    <span class="username" id="username"></span>
                    <a href="main" class="btn-sm btn-outline-secondary top-btn" role="button">Main</a>
                    <a href="#" id="logoutBtn" class="btn-sm btn-outline-secondary top-btn" role="button">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="modal fade" tabindex="-1" id="newFriendModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title h5">New Friend</h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="friendNameInput row">
                            <div class="col-5 aside">
                                <label for="friendNameInput">Friend Name</label>
                            </div>
                            <div class="col-5">
                                <input type="text" id="friendNameInput" name="friendNameInput">
                            </div>
                        </div>
                        <div class="friendNameInput row">
                            <div class="col-5 aside">
                                <label for="friendEmailInput">Email</label>
                            </div>
                            <div class="col-5">
                                <input type="email" id="friendEmailInput" name="friendEmailInput">
                            </div>                            
                        </div>
                        <div class="friendNameInput row">
                            <div class="col-5 aside">
                                <label for="friendPhoneInput">Phone Number</label>
                            </div>
                            <div class="col-5">
                                <input type="text" id="friendPhoneInput" name="friendPhoneInput">
                            </div>    
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="newFriendConfirmBtn">Confirm</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>  
        </div>
        <div class="modal fade" tabindex="-1" id="rescheduleModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form class="form" id="rescheduleForm">
                        <div class="modal-header">
                            <h1 class="modal-title h4">Reschedule Time</h1>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="rescheduleDate">
                                <h2 class="h5">New Time</h2>
                                <input type="date" id="rescheduleInput">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="rescheduleConfirmButton">Confirm</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>  
        </div>
        <div class="navbar">
            <ul>
                <li id="personalInfoBtn" data-id="#infopage" class="active">Personal Information</li>
                <li id="passwordBtn" data-id="#password">Change Password</li>
                <li id="ticketInfoBtn" data-id="#tickets">Ticket Information</li>
                <li id="paymentInfoBtn" data-id="#payment">Payment Information</li>
                <li id="friendsInfoBtn" data-id="#friends">Friends Information</li>
            </ul>
        </div>
        <div class="container">
            <div id="tickets">
                <div id="self-tickets">
                    {{!-- render by js --}}
                </div>
                <div id="friends-tickets">
                    {{!-- render by js --}}
                </div>
            </div>
            <div id="password">
                <form class="passwordChangePage" id="passwordChange">
                    <div class="row mt-5">
                        <div class="col-4 ml-3 aside">
                            <label for="old-password">Old Password</label>
                        </div>
                        <div class="input-group col-5">
                            <input type="password" class="form-control" id="old-password" name="old-password" value="">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4 ml-3 aside">
                            <label for="new-password">New Password</label>
                        </div>
                        <div class="input-group col-5">
                            <input type="password" class="form-control" id="new-password" name="new-password" value="">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4 ml-3 aside">
                            <label for="re-enter-password">Confirm Password</label>
                        </div>
                        <div class="col-5">
                            <input type="password" class="form-control" id="re-enter-password" name="re-enter-password" value="">
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-4 ml-3"></div>
                        <div class="col-5">
                            <button class="btn btn-primary" id="changePasswordBtn" disabled type="submit">
                                Change Password
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="infopage">
                <form class="personalinfoPage" id="personalInfo">
                    <div class="row mt-5">
                        <div class="col-4 ml-3 aside">
                            <img src="../../public/pic/IMG_0421.jpeg" class="rounded" alt="...">
                        </div>

                    </div>
                    <div class="row mt-3">
                        <div class="col-4 ml-3 aside">
                            <label for="form-username">Username</label>
                        </div>
                        <div class="input-group col-5">
                            <input type="text" class="form-control" id="form-username" name="form-username" value="">
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-4 ml-3 aside"></div>
                        <div class="input-group col-5">
                            <div class="hidden" id="userNameRule">
                                User name is already exisited Or not following the rule:
                                3-16 characters, only contains lower case words, upper case words and numbers
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4 ml-3 aside">
                            <label for="month">Gender</label>
                        </div>
                        <div class="col-3 genderContainer">
                            <select class="custom-select" id="form-gender" name="form-gender">
                                <option>Male</option>
                                <option>Female</option>
                                <option>Unknown</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4 ml-3 aside">
                            <label for="form-bio">Bio</label>
                        </div>
                        <div class="input-group col-5">
                            <textarea class="form-control" id="form-bio" name="form-bio"></textarea>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4 ml-3 aside">
                            <label for="form-email">Email</label>
                        </div>
                        <div class="input-group col-5">
                            <input type="email" class="form-control" id="form-email" name="form-email" value="">                        
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-4 ml-3 aside"></div>
                        <div class="input-group col-5">
                            <div class="hidden" id="emailRule">
                                Email can not be empty/ Invalid/Existed Email
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4 ml-3 aside">
                            <label for="form-phonenumber">Phone Number</label>
                        </div>
                        <div class="input-group col-5">
                            <input type="text" class="form-control" id="form-phonenumber" name="form-phonenumber" value="">                        
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-4 ml-3 aside"></div>
                        <div class="input-group col-5">
                            <div class="hidden" id="phoneNumberRule">
                                Invalid Phone Number
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4 ml-3 aside">
                            <label for="form-zipcode">Zipcode</label>
                        </div>
                        <div class="input-group col-5">
                            <input type="text" class="form-control" id="form-zipcode" name="form-zipcode" value="">
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-4 ml-3 aside"></div>
                        <div class="input-group col-5">
                            <div class="hidden" id="zipCodeRule">
                                Invalid Zip Code
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4 ml-3 aside">
                            <label for="form-address">Address</label>
                        </div>
                        <div class="input-group col-5">
                            <textarea class="form-control" id="form-address" name="form-address"></textarea>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-4 ml-3"></div>
                        <div class="col-5">
                            <button class="btn btn-primary" type="submit">
                                Update Now!
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="payment">
                <form id="form-payment">
                    <div class="row mt-5">
                        <div class="col-4 ml-3 aside">
                            <label for="firstName">First Name</label>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" id="firstName" name="firstName">
                        </div>
                    </div>
                    <div class="row mt-1 error-message" id="firstNameRule">
                        <div class="col-4 ml-3 aside"></div>
                        <div class="input-group col-5">
                            <div>
                                Frist name can not be empty
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4 ml-3 aside">
                            <label for="lastName">Last Name</label>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" id="lastName" name="lastName">
                        </div>
                    </div>
                    <div class="row mt-1 error-message" id="lastNameRule">
                        <div class="col-4 ml-3 aside"></div>
                        <div class="input-group col-5">
                            <div>
                                Last name can not be empty
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4 ml-3 aside">
                            <label for="billingZipCode">Billing Zip Code</label>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" id="billingZipCode" name="billingZipCode">
                        </div>
                    </div>
                    <div class="row mt-1 error-message" id="zipcodeRule">
                        <div class="col-4 ml-3 aside"></div>
                        <div class="input-group col-5">
                            <div>
                                Zipcode should be 5 digits.
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4 ml-3 aside">
                            <label for="cardNumber">Card Number</label>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" id="cardNumber" name="cardNumber">
                        </div>
                    </div>
                    <div class="row mt-1 error-message" id="cardNumberRule">
                        <div class="col-4 ml-3 aside"></div>
                        <div class="input-group col-5">
                            <div>
                                Card number length is not between 13 - 19 or not follow the Luhn Formula.
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4 ml-3 aside">
                            <label for="month">Expiration Date (MM/YY)</label>
                        </div>
                        <div class="col-2 monthContainer">
                            <select class="custom-select" id="month">
                                <option selected>--</option>
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <select class="custom-select" id="year">
                                <option selected>--</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                                <option>31</option>
                                <option>32</option>
                                <option>33</option>
                                <option>34</option>
                                <option>35</option>
                                <option>36</option>
                                <option>37</option>
                                <option>38</option>
                                <option>39</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-1 error-message" id="expirationRule">
                        <div class="col-4 ml-3 aside"></div>
                        <div class="input-group col-5">
                            <div>
                                Expiration Date is not valid!
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4 ml-3 aside">
                            <label for="securityCode">
                                Security Code (CVV)
                            </label>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" id="securityCode" name="securityCode" maxlength="3">
                        </div>
                    </div>
                    <div class="row mt-1 error-message" id="secureCodeRule">
                        <div class="col-4 ml-3 aside"></div>
                        <div class="input-group col-5">
                            <div>
                                CVV should be 3 digits.
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-4 ml-3"></div>
                        <div class="col-5">
                            <button class="btn btn-primary" id="changePaymentBtn" type="submit">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="friends">
                <form id="form-friends">
                    <div class="row mt-5">
                        <div class="col-4 ml-3 aside">
                            <label>Friends</label>
                        </div>
                        <div class="col-5" id="friendsList">
                            {{!-- to be rendered by js --}}
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-4 ml-3 aside">
                            <label for="friendName">Friend Name</label>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" id="friendName" name="friendName" value="">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4 ml-3 aside">
                            <label for="friendEmail">Email</label>
                        </div>
                        <div class="col-5">
                            <input type="email" class="form-control" id="friendEmail" name="friendEmail" value="">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4 ml-3 aside">
                            <label for="friendPhone">Phone Number</label>
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" id="friendPhone" name="friendPhone" value="">
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-4 ml-3"></div>
                        <div class="col-5">
                            <button class="btn btn-primary" id="saveFriendBtn" type="submit">
                                Save!
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer class="blog-footer bg-dark shadow-sm">
        <div class="content">
            <p>For Final Project of CS 546</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="./js/user.js"></script>
</body>

</html>