.editpage {
  position: relative;
  margin-left: 30%;
  margin-top: 7%;
  width: 40%;
  height: 60%;
  background-color: white;
}

.profile_photo_name {
  position: relative;
  height: 25%;
  background-color: tan;
}
.imgfirst {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  overflow: hidden;
  margin-top: 10%;
  float: right;
}
.profile_left {
  float: left;
  width: 30%;
  height: 100%;
}
.profile_right {
  float: left;
  width: 70%;
  height: 100%;
}

.profile_name {
  color: rgb(34, 27, 27);
  width: 115px;
  height: 30px;
  margin-left: 50px;
  margin-top: 6%;
}
.profile_section {
  position: relative;
  height: 15%;
  background-color: rgb(79, 108, 163);
}
.change_photo_bt {
  width: 150px;
  height: 30px;
  color: rgb(19, 56, 136);
  margin-left: 50px;
  border: none;
  font-family: sans-serif;
  background-color: tan;
  font-weight: 800;
  /* cursor: pointer; */
}
.username {
  float: right;
  margin-top: 10%;
  color: black;
  font-size: 17px;
}
._input {
  width: 270px;
  height: 34px;
  margin-top: 15px;
  margin-left: 50px;
}
.btpart {
  height: 50px;
  width: 300px;
  margin-left: 37%;
}
.submitbt {
  display: inline-block;
  font-family: 'cooper-black-std-1', 'cooper-black-std-2';
  color: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(rgb(79, 108, 163)),
    to(#377896)
  );

  border-radius: 8px;
  margin-top: 40px;
  width: 70px;
  height: 40px;
}
.cancel {
  margin-left: 70px;
}

::-webkit-input-placeholder {
  padding-left: 20px;
}
