.tickets {
    padding: 20px;
    .container {
        display: flex;
        flex-wrap: wrap;
        .card {
            width: 30%;
            margin: 10px;
            img {
                height: 200px;
            }
            .card-bottom {
                display: flex;
                justify-content: space-between;
                padding: 0 20px;
                .remain {
                    color: #6c757d;
                }
                .buttons {
                    display: flex;
                    justify-content: center;
                    padding-bottom: 20px;
                    button {
                        margin: 0 4px;
                    }
                }
            }
        }
    }
}
