ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

header {
    .username {
        border: thick;
        color: white;
        margin-right: 10px;
    }
}

.tickets {
    padding: 20px;
    .container {
        .topBar {
            display: flex;
            .filter {
                padding: 10px;
                justify-content: center;
            }
        }
        .cards {
            display: flex;
            flex-wrap: wrap;
            .card {
                width: 30%;
                margin: 10px 4px;
                img {
                    height: 200px;
                }
                .card-bottom {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 20px;
                    .remain {
                        color: #6c757d;
                    }
                    .buttons {
                        display: flex;
                        justify-content: center;
                        padding-bottom: 20px;
                        button {
                            margin: 0 4px;
                        }
                    }
                }
            }
        }
    }
}

.modal {
    .placeDetail {
        img {
            width: 100%;
        }
    }
    .comment {
        .commentContainer {
            padding: 5px 0;
            border-top: 1px solid #ccc;
            max-height: 250px;
            overflow: scroll;
            li {
                border-bottom: 1px solid #ccc;
                padding: 8px 0;
                .username {
                    font-weight: bold;
                }
            }
        }
        .inputContainer {
            margin-top: 20px;
            display: flex;
            align-items: center;
            button {
                margin-left: 4px;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    .content {
        color: #ccc;
        p {
            padding: 5px 0;
            margin: 0;
        }
    }
}
