ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0; }

header .username {
  border: thick;
  color: white;
  margin-right: 10px; }

.tickets {
  padding: 20px; }
  .tickets .container .topBar {
    display: flex; }
    .tickets .container .topBar .filter {
      padding: 10px;
      justify-content: center; }
  .tickets .container .cards {
    display: flex;
    flex-wrap: wrap; }
    .tickets .container .cards .card {
      width: 30%;
      margin: 10px 4px; }
      .tickets .container .cards .card img {
        height: 200px; }
      .tickets .container .cards .card .card-bottom {
        display: flex;
        justify-content: space-between;
        padding: 0 20px; }
        .tickets .container .cards .card .card-bottom .remain {
          color: #6c757d; }
        .tickets .container .cards .card .card-bottom .buttons {
          display: flex;
          justify-content: center;
          padding-bottom: 20px; }
          .tickets .container .cards .card .card-bottom .buttons button {
            margin: 0 4px; }

.modal .placeDetail img {
  width: 100%; }

.modal .comment .commentContainer {
  padding: 5px 0;
  border-top: 1px solid #ccc;
  max-height: 250px;
  overflow: scroll; }
  .modal .comment .commentContainer li {
    border-bottom: 1px solid #ccc;
    padding: 8px 0; }
    .modal .comment .commentContainer li .username {
      font-weight: bold; }

.modal .comment .inputContainer {
  margin-top: 20px;
  display: flex;
  align-items: center; }
  .modal .comment .inputContainer button {
    margin-left: 4px; }

footer {
  display: flex;
  justify-content: center;
  padding: 10px; }
  footer .content {
    color: #ccc; }
    footer .content p {
      padding: 5px 0;
      margin: 0; }
