.tickets {
  padding: 20px; }
  .tickets .container {
    display: flex;
    flex-wrap: wrap; }
    .tickets .container .card {
      width: 30%;
      margin: 10px; }
      .tickets .container .card img {
        height: 200px; }
      .tickets .container .card .card-bottom {
        display: flex;
        justify-content: space-between;
        padding: 0 20px; }
        .tickets .container .card .card-bottom .remain {
          color: #6c757d; }
        .tickets .container .card .card-bottom .buttons {
          display: flex;
          justify-content: center;
          padding-bottom: 20px; }
          .tickets .container .card .card-bottom .buttons button {
            margin: 0 4px; }
