<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TicketHub</title>
    <link rel="icon" href="/pic/ticket.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/userinfo.css" />
</head>

<body>
    <div hidden id='data' data-id={{userId}}></div>
    <header id="visitorHeader" class="">
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a class="navbar-brand" href="/visitor">Ticket</a>
                <div>
                    <span class="username" id="username">Visitor</span>
                    <a href="#" id="signinBtn" class="btn-sm btn-outline-secondary top-btn" role="button">Sign in</a>
                </div>
            </div>
        </div>
    </header>
    <header id="userHeader" class="hidden">
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a class="navbar-brand" href="/main">Ticket</a>
                <div>
                    <span class="username" id="username"></span>
                    <a href="user" class="btn-sm btn-outline-secondary top-btn" role="button">User Info</a>
                    <a href="#" id="logoutBtn" class="btn-sm btn-outline-secondary top-btn" role="button">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container-xl px-3 mt-4">
            <div class="row">
                <div class="userCard col-lg-3 col-md-4 col-12 float-md-left pr-md-3 pr-xl-6">
                    <img alt="Profile Photo" width="240" height="240" class="rounded-2" id="userAvatar" src="../../public/pic/avatar/default.jpg">
                    <div class="cardInfo mt-3" id="cardInfo">
                        <div id="userName" class="cardInfo">
                            Name
                        </div>
                        <div id="userGender" class="cardInfo">
                            Gender
                        </div>
                        <div id="userAge" class="cardInfo">
                            Age
                        </div>
                        <button class="followBtn btn btn-primary">Follow</button>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-12 float-md-left pl-md-2">
                    <div class="row">
                        <div class="userNavBar mb-3">
                            <nav class="navbar navbar-expand-lg navbar-dark">
                                <ul class="navbar-nav mr-auto">
                                    <li class="focus" id="personalInfoNav" data-id="#personInfo">
                                        Personal Info
                                    </li>
                                    <li class="" id="commentsNav" data-id="#comments">
                                        Comments
                                    </li>
                                    <li class="" id="upvoteNav" data-id="#upvotes">
                                        Upvote
                                    </li>
                                    <li class="" id="relationsNav" data-id="#relations">
                                        Relations
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="row">
                        <div class="userContainer">
                            <div id="personInfo">
                                {{!-- username --}}
                                <div class="row m-3">
                                    <div class="col-3 col-sm-4 title">
                                        Username:
                                    </div>
                                    <div class="col text" id="renderUserName">
                                        xxx
                                    </div>
                                </div>
                                {{!-- gender --}}
                                <div class="row m-3">
                                    <div class="col-3 col-sm-4 title">
                                        Gender:
                                    </div>
                                    <div class="col text" id="renderGender">
                                        xxx
                                    </div>
                                </div>
                                {{!-- age --}}
                                <div class="row m-3">
                                    <div class="col-3 col-sm-4 title">
                                        Age:
                                    </div>
                                    <div class="col text" id="renderAge">
                                        xxx
                                    </div>
                                </div>
                                {{!-- birthday --}}
                                <div class="row m-3">
                                    <div class="col-3 col-sm-4 title">
                                        Birthday:
                                    </div>
                                    <div class="col text" id="renderBirthday">
                                        xxx
                                    </div>
                                </div>
                                {{!-- Bio --}}
                                <div class="row m-3">
                                    <div class="col-3 col-sm-4 title">
                                        Bio:
                                    </div>
                                    <div class="col text" id="renderBio">
                                        xxx
                                    </div>
                                </div>
                            </div>
                            <div id="comments">

                            </div>
                            <div id="upvotes">

                            </div>
                            <div id="relations">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </main>
    <footer class="blog-footer bg-dark shadow-sm">
        <div class="content">
            <p>For Final Project of CS 546</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="../../public/js/userinfo.js"></script>
</body>

</html>